.advanced-cropper-circle-stencil {
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: content-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	&__overlay {
		border-radius: 50%;
		overflow: hidden;
	}
	&__preview {
		border-radius: 50%;
	}
	&__draggable-area,
	&__overlay,
	&__preview,
	&__grid {
		position: absolute;
		height:100%;
		width: 100%;
	}
	&--movable {
		cursor: move;
	}
}
