.advanced-cropper-simple-line {
	background: none;
	border-width: 0;

	&--south,
	&--north {
		height: 0;
		width: 100%;
	}

	&--east,
	&--west {
		height: 100%;
		width: 0;
	}

	&--east {
		border-right-width: 1px;
	}
	&--west {
		border-left-width: 1px;
	}
	&--south {
		border-bottom-width: 1px;
	}
	&--north {
		border-top-width: 1px;
	}
}
