$base-color: white !default;
$accent-color: currentColor !default;
$grid-color: $base-color !default;
$grid: false !default;
$handler-color: $accent-color !default;
$line-color: $base-color !default;
$handler-size: 14px !default;
$hover-handler-size: 25px !default;

// Handlers
.advanced-cropper-simple-handler {
	background: $handler-color;
	opacity: 0.95;
	height: $handler-size;
	width: $handler-size;
	border-radius: 50%;
	transition-property: width, height;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition-duration: 0.5s;
	transform: translate3d(0, 0, 0);
	will-change: height, width;

	&--hover {
		width: $hover-handler-size;
		height: $hover-handler-size;
	}
}

// Lines
.advanced-cropper-simple-line {
	border-color: rgba($line-color, 0.75);
	&--hover {
		border-color: rgba($line-color, 1);
	}
}

// Stencils
.advanced-cropper-circle-stencil,
.advanced-cropper-rectangle-stencil {
	&--moving,
	&--resizing {
		.advanced-cropper-simple-handler {
			opacity: 1;
		}
	}
}

// Grid
@if ($grid) {
	.advanced-cropper-circle-stencil,
	.advanced-cropper-rectangle-stencil {
		&__preview {
			&:after,
			&:before {
				content: '';
				opacity: 0;
				transition: opacity 0.25s;
				position: absolute;
				pointer-events: none;
				z-index: 1;
			}
			&:after {
				border-left: solid 1px $grid-color;
				border-right: solid 1px $grid-color;
				width: 33%;
				height: 100%;
				transform: translateX(-50%);
				left: 50%;
				top: 0;
			}
			&:before {
				border-top: solid 1px $grid-color;
				border-bottom: solid 1px $grid-color;
				height: 33%;
				width: 100%;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
			}
		}

		&--moving,
		&--resizing {
			.advanced-cropper-rectangle-stencil,
			.advanced-cropper-circle-stencil {
				&__preview {
					&:after,
					&:before {
						opacity: 0.7;
					}
				}
			}
		}
	}
}
