$base-color: white !default;
$accent-color: currentColor !default;
$grid-color: $base-color !default;
$handler-color: $accent-color !default;
$line-color: $base-color !default;
$handler-size: 8px !default;
$grid: true !default;

// Lines
.advanced-cropper-simple-line {
	border-color: rgba($line-color, 0.8);
	&--hover {
		border-color: rgba($line-color, 1);
	}
}

// Handlers
.advanced-cropper-simple-handler {
	display: block;
	position: relative;
	flex-shrink: 0;
	transition: opacity 0.5s;
	border: none;
	background: $handler-color;
	height: $handler-size;
	width: $handler-size;
	opacity: 0.5;

	&--hover {
		opacity: 1;
	}
}

// Stencils
.advanced-cropper-circle-stencil {
	&__preview {
		border: solid 2px rgba($line-color, 0.8);
	}
	.advanced-cropper-simple-line {
		border-color: rgba($line-color, 0.3);
	}
	.advanced-cropper-simple-handler {
		&--west-north,
		&--east-south,
		&--west-south,
		&--east-north {
			opacity: 0.5;
		}

		&--hover {
			opacity: 1;
		}
	}
}

.advanced-cropper-circle-stencil,
.advanced-cropper-rectangle-stencil {
	&--moving,
	&--resizing {
		.advanced-cropper-simple-handler {
			opacity: 1;
		}
	}
}


// Grid
@if ($grid) {
	.advanced-cropper-circle-stencil,
	.advanced-cropper-rectangle-stencil {
		&__preview {
			&:after,
			&:before {
				content: '';
				opacity: 0;
				transition: opacity 0.25s;
				position: absolute;
				pointer-events: none;
				z-index: 1;
			}
			&:after {
				border-left: solid 1px $grid-color;
				border-right: solid 1px $grid-color;
				width: 33%;
				height: 100%;
				transform: translateX(-50%);
				left: 50%;
				top: 0;
			}
			&:before {
				border-top: solid 1px $grid-color;
				border-bottom: solid 1px $grid-color;
				height: 33%;
				width: 100%;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
			}
		}

		&--moving,
		&--resizing {
			.advanced-cropper-rectangle-stencil,
			.advanced-cropper-circle-stencil {
				&__preview {
					&:after,
					&:before {
						opacity: 0.7;
					}
				}
			}
		}
	}
}
